---
// No props needed
import '../styles/global.css'; // optional
---
<style>
.homepage-content {
  border-bottom: 4mm ridge var(--color-blue);
}
</style>
<div class="homepage-content">
  <slot />
</div>